# Supabase
SUPABASE_URL="" # e.g. "https://-------.supabase.co"
SUPABASE_API_KEY=""
ALL_USERS_TABLE="" # e.g. "all_users" - For storing user signups
STOCK_DATA_TABLE="" # e.g. "stock_data" - For storing individual stock entries
PORTFOLIOS_TABLE="" # e.g. "portfolios" - For storing and comparing user portfolios

# OpenAI
OPENAI_API_KEY=""

# Pinecone
PINECONE_API_KEY=""
VECTOR_SEARCH_INDEX=""