.dashboard-container {
    position: relative;
}
  
.add-position-popup {
    position: fixed;
    top: 0;
    left: -350px;
    width: 350px;
    height: 100%;
    background-color: transparent;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
  }
  
.add-position-popup.open {
    left: 0;
}
  
.open-popup-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #38BC81;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 999;
}
  
.close-popup-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}