.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 1rem;
    position: relative;
    z-index: 1;
}

.logo, .login {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0 0.9rem;
}

.no-style {
    background: none;
    border: none; 
    cursor: pointer; 
    color: inherit; 
    font: inherit;
    font-size: inherit; 
    padding: 0.5rem 1rem; /* Add some padding for a larger clickable area */
    display: inline-block; /* Ensure the button takes the full size of its content */
}